body {
  text-align: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 400px;
}

.labeledInput {
  align-items: center;
  display: flex;
  gap: 12px;
}

.labeledInput input {
  flex: 1;
}

button {
  color: white;
  flex: 1;
  padding: 1em 0;
}

#btnTurnOn {
  background-color: green;
}

#btnTurnOff {
  background-color: red;
}